[Unit]
Description=Schedule Bot
After=syslog.target
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/root/schedulebot
ExecStart=/usr/bin/python3 /root/schedulebot/bot.py
RestartSec=10
Restart=always
 
[Install]
WantedBy=multi-user.target